.border {
  width: 75%;
  border: 1px solid #100202;
  margin: 40px 0px 50px 10px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 5px 10px 10px #7d7979;
}

.content {
  font-size: 20px;
  line-height: 32px;
  margin-top: 3rem;
  letter-spacing: -0.003em;
}

.cardTitle {
  margin: 2rem 0 2rem 0;
  font-size: 3.5rem;
  font-weight: 700;
  padding: 30px;
  padding-left: 5px;
  padding-top: 0px;
}

.cardImg {
  width: 50%;
  margin-left: 25%;
}

.cardLink {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 20px;
  text-decoration: none;
  line-height: 2;
  width: 100%;
}

.LinkToDetail:hover {
  color: black;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  /* text-align: center; */
  background-color: #f05033;
  border-radius: 5px;
}

.LinkToDetail {
  text-decoration: none;
  font-size: 22px;
  /* color: blue; */
  color: #f05033;
  /* text-shadow: 0.5px 2px 3px #6f6866; */
}

.detailCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 60%;
  margin-left: 15%;
  /* display: flex; */
  /* align-items: center; */
  /* flex-direction: column; */
  padding: 50px;
}

.cardTitle_Detail {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.addpost {
  color: black;
}

.content_Detail {
  font-size: 20px;
  line-height: 32px;
  margin-top: 3rem;
  letter-spacing: -0.003em;
}

.author {
  margin: 20px;
}

.homeLink_div {
  margin-top: 2rem;
}

.homeLink {
  color: black;
}

.detailRater {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .content {
    margin-right: 20px;
  }

  .detailRater {
    display: block;
  }

  .border {
    width: 100%;
    margin: 40px 0px 50px 10px;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    padding: 0;
  }

  .detailCard {
    display: block;
    box-shadow: none;
    width: 100%;
    padding: 0px;
    margin-left: 0px;
  }
}
