.featured_blog {
  margin-top: 5rem;
}

.blog_border {
  width: 70%;
  margin: 10px 10px 50px 0px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 0.5px 1px #7d7979;
}

.featuredblog_title {
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 3.5rem;
  font-weight: 700;
}

.featuredblog_authorname {
  margin-top: 4.5rem;
}

.featuredblog_content {
  font-size: 20px;
  line-height: 32px;
  margin-top: 3rem;
  letter-spacing: -0.003em;
  padding: 20px;
}

.featuredblog_cardImg {
  width: 50%;
  margin-top: 20px;
  margin-left: 20px;
}

.featuredCards {
  margin: 10px;
  width: 170px;
  height: 170px;
}

.featuredCards_title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px;
}

.featuredCards_author {
  font-size: 1rem;
  font-weight: bold;
  padding: 15px;
}

.featuredblogs_links a {
  color: black;
}

.featuredblogs_links a:hover {
  color: black;
  text-decoration: none;
}

.featuredCards:hover {
  color: orange;
}

/* ////////////// */
.links_li {
  margin-top: 10px;
  font-size: 22px;
}

.detailCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 60%;
  margin-left: 15%;
  padding: 50px;
}

.cardTitle_Detail {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.addpost {
  color: black;
}

.content_Detail {
  font-size: 20px;
  line-height: 32px;
  margin-top: 3rem;
  letter-spacing: -0.003em;
}

.author {
  margin: 20px;
}

.homeLink_div {
  margin-top: 2rem;
}

.homeLink {
  color: black;
}

.detailRater {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .content {
    margin-right: 20px;
  }

  .blog_border {
    width: 100%;
    margin: 0;
    border: none;
    padding: 0;
  }

  .featuredCards {
    margin: 0px;
  }

  .featuredblogs_links {
    margin: 0px;
  }

  .detailRater {
    display: block;
  }

  .detailCard {
    display: block;
    box-shadow: none;
    width: 100%;
    padding: 0px;
    margin-left: 0px;
  }
}
