.home_main_title {
  font-size: 160px;
  margin-top: 20px;
}

.row {
  margin-top: 15px;
}

.home_search_button {
  color: black !important;
  background-color: white !important;
}

.home_search_button:hover {
  color: black !important;
  text-decoration: none;
}

.search_results {
  margin-top: 20px;
}

.search_results li {
  margin-top: 10px;
}

.search_results a {
  margin-top: 10px;
  color: black;
}

.search_results li a:hover {
  color: blue;
  text-decoration: none;
}

.add_new_post {
  margin: 10px;
  color: black !important;
  background-color: white !important;
}

/* ///////////////////////////// */

/* .img_selected {
  width: 50%;
  height: auto;
} */

@media screen and (max-width: 500px) {
  .home_main_title {
    font-size: 130px;
  }

  .home_input_search {
    width: 90%;
  }

  .text {
    margin: 0;
    font-size: 3.5rem;
    position: relative;
  }

  .enter_button {
    margin-top: 10px;
  }
}

.footer {
  color: white;
  background-color: black;
  margin-top: 5rem;
  padding: 20px 0px 20px 0px;
}

.footerText {
  margin: 20px;
  text-align: end;
}

.footerText a {
  color: white;
}

.footerText a:hover {
  color: orange;
  text-decoration: none;
}

/* ///////////////////// */

/* ///////////////////// */

/* ////////////////////// */
